* {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    align-items: stretch;
    flex-flow: column wrap;
}

header {
    margin: 0;
    height: 70px;
    background-color: orange;
}

main {
    margin: 0;
    background-color: gray;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
footer {
    height: 30px;
    margin: 0;
    background-color: pink;
}
img {
    align-self: center;
}
