* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}
img {
    height: 100%;
    position: relative;
    left: 100%;
}

.dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.dot {
    border: 3px whitesmoke solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}
.clicked {
    background-color: whitesmoke;
    pointer-events: none;
}
.window {
    height: 600 px;
    overflow: hidden;
}

.on {
    transition-property: transform;
    transition-duration: 3s;
    transform: translateX(0);
}

.off {
    transition-property: transform;
    transition-duration: 3s;
    transform: translateX(-100%);
}
